# Эти папки и файлы будут проигнорированы при отправке в Git
# Тем не менее чаще всего их наличие в проекте критично для работы приложения

.idea/
node_modules/
public/js/
public/files/
public/gif/
npm-debug.log*
