<div class="jumbotron">
    <div class="row"><h3 class="circe">ЗАГРУЗКИ</h3></div>
    <br>
    <div>
        <h4>Добро пожаловать на страницу, содержащую ссылки на полезные загрузки.</h4>
    </div>
    <div class="row">
        <div class="jumbotron">
            <div class="col-md-5">
                <button class="btn btn-primary btn-block" (click)="switchSpoiler2_1()" *ngIf="!showSpoiler2_1()"><span class="glyphicon glyphicon-chevron-down"></span> MFCReg <span class="glyphicon glyphicon-user"></span></button>
                <button class="btn btn-primary btn-block" (click)="switchSpoiler2_1()" *ngIf="showSpoiler2_1()"><span class="glyphicon glyphicon-chevron-up"></span> MFCReg <span class="glyphicon glyphicon-user"></span></button><br>
            </div>
            <br>
        </div>
        <div class="jumbotron" *ngIf="showSpoiler2_1()">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> MFCREg: для приема заявителей<br><a download href="/files/mfcregsetup32.exe"><span class="glyphicon glyphicon-share-alt"></span> Установщик MFCReg</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-book"></span> ServiceClient: для настройки услуг в MFCReg<br><a download href="/files/ServiceClient.7z"><span class="glyphicon glyphicon-share-alt"></span> Архив ServiceClient</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-file"></span> Инструкция по работе с программой MFCReg<br><a download href="/files/Инструкция по работе с программой MFCReg.docx"><span class="glyphicon glyphicon-share-alt"></span> Скачать инструкцию</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-file"></span> Инструкция по работе с наполнением справочника услуг<br><a download href="/files/Инструкция по работе с наполнением справочника услуг.docx"><span class="glyphicon glyphicon-share-alt"></span> Скачать инструкцию</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-file"></span> Методика формирования отчета по госзаданию из программного комплекса МФЦРег<br><a download href="/files/Методика формирования отчета по госзаданию из программного комплекса МФЦРег.docx"><span class="glyphicon glyphicon-share-alt"></span> Скачать методику</a></li>
            </ul>
        </div>
    </div>
</div>