@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PTS55F_2.ttf') format('truetype')
}

body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans';
}
p, div {
  font-family: 'PT Sans';
}