<div class="jumbotron" *ngIf="isLoggedIn()">
    <div class="row">Вы находитесь на Корпоративном портале МФЦ Свердловской области, {{user?.firstName}} {{user?.parentName}}!<br>
    Если вы хотите покинуть Портал или зайти под другой учетной записью воспользуйтесь кнопкой "Выход из системы"</div><br>
    <div class="row"><a routerLinkActive="active"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Выход из системы</a></a></div>
</div>
<div class="jumbotron" *ngIf="!isLoggedIn()">
    <a routerLinkActive="active"><a [routerLink]="['signin']"><span class="glyphicon glyphicon-log-in"></span> Вход на Портал</a></a><br>
    <a routerLinkActive="active"><a [routerLink]="['signup']"><span class="glyphicon glyphicon-flag"></span> Регистрация</a></a>
</div>
