<div class="jumbotron">
    <div class="row"><h3 class="circe">ПРИЕМ ДОКУМЕНТОВ НА ЗАМЕНУ ВОДИТЕЛЬСКОГО УДОСТОВЕРЕНИЯ</h3></div>
    <br>
    <div>
        <h4>Добро пожаловать на страницу, которая поможет Вам подготовить файлы фотографии и подписи заявителя для замены водительского удостоверения.</h4>
    </div>
    <div>
        <br>
        <h3>Шаг №1 - Делаем фотографию заявителя</h3><br>
        <button class="btn btn-primary" (click)="switchSpoiler1()" *ngIf="!showSpoiler1()"><span class="glyphicon glyphicon glyphicon-chevron-down"></span> Нажмите для подробной инструкции</button>
        <button class="btn btn-primary" (click)="switchSpoiler1()" *ngIf="showSpoiler1()"><span class="glyphicon glyphicon glyphicon-chevron-up"></span> Нажмите для скрытия инструкции</button><br>
        <div *ngIf="showSpoiler1()">
            Для этого Вам потребуется программа Logitech Webcam Software. Если на Вашем ПК она еще не установлена нажмите
            <a href="http://support.logitech.com/ru_ru/product/hd-webcam-c615#imagegallery"><span class="glyphicon glyphicon-share-alt"></span> Страница загрузки Logitech C615</a><br>
            <br>
            1.1. Кликните по значку "Пуск", в списке установленных программ найдите Logitech Webcam Software и откройте двойным щелчком мыши по нему
            <br>
            <img src="/gif/5kdFb8CdSa.gif" width="310" height="521" />
            <br>
            1.2. Выберите "Съемка", зафиксируйте камеру в положении при котором лицо заявителя занимает 80% высоты изображения и нажмите на значок съемки <span class="glyphicon glyphicon glyphicon-camera"></span>
            <br>
            Нажмите на фотографии "Перейти к файлу" - Вас переместит в соответствующую папку, измените имя файла на "ФамилиюИмяОтчество" заявителя
            <br>
            <img src="/gif/KdxcD6QwlI.gif" width="898" height="710" />
            <br>
        </div>
    </div>
    <div>
        <br>
        <h3>Шаг №2 - Обрезаем фотографию заявителя</h3><br>
        <button class="btn btn-primary" (click)="switchSpoiler2()" *ngIf="!showSpoiler2()"><span class="glyphicon glyphicon glyphicon-chevron-down"></span> Нажмите для подробной инструкции</button>
        <button class="btn btn-primary" (click)="switchSpoiler2()" *ngIf="showSpoiler2()"><span class="glyphicon glyphicon glyphicon-chevron-up"></span> Нажмите для скрытия инструкции</button><br>
        <div *ngIf="showSpoiler2()">
            <br>
            Сейчас Вам необходимо обрезать фотографию под размер 21/30.
            <br>
            2.1. Нажмите "Обзор"/"Выберите файл", найдите фотографию заявителя и выберите её двойным щелчком левой кнопки мыши.
            <br>
            Выбрав фотографию вы можете: перемещать окно изображения используя <span class="glyphicon glyphicon-fullscreen"></span> в центре изображения, растягивать и уменьшать потянув за края
            <br>
            <img src="/gif/94XhF9Ch3k.gif" width="1130" height="619" />
            <br>
            2.3. Для сохранения готового изображениия щелкните по нему правой кнопкой мыши и выберите пункт меню "Сохранить как..", запомните куда Вы сохраняете файл и введите имя файла как "ФамилиюИмяОтчествоДата рождения" заявителя.
            <br>
            <img src="/gif/y1np2rHUzF.gif" width="1019" height="623" />
            <br>
        </div>
        <button class="btn btn-primary" (click)="switchSpoiler2_1()" *ngIf="!showSpoiler2_1()"><span class="glyphicon glyphicon glyphicon-chevron-down"></span> Открыть окно обрезки изображений</button>
        <button class="btn btn-primary" (click)="switchSpoiler2_1()" *ngIf="showSpoiler2_1()"><span class="glyphicon glyphicon glyphicon-chevron-up"></span> Скрыть окно обрезки</button><br>
        <div *ngIf="showSpoiler2_1()">
            <br>
            <div class="col-md-6"><img-cropper [image]="data" [settings]="cropperSettings"></img-cropper></div>
            <div class="col-md-6"><hr><img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"></div>
            <br>
        </div>
    </div>
    <div>
        <br>
        <h3>Шаг №3 - Считываем подпись заявителя</h3><br>
        <button class="btn btn-primary" (click)="switchSpoiler3()" *ngIf="!showSpoiler3()"><span class="glyphicon glyphicon glyphicon-chevron-down"></span> Нажмите для подробной инструкции</button>
        <button class="btn btn-primary" (click)="switchSpoiler3()" *ngIf="showSpoiler3()"><span class="glyphicon glyphicon glyphicon-chevron-up"></span> Нажмите для скрытия инструкции</button><br>
        <div *ngIf="showSpoiler3()">
            <br>
            Для этого Вам потребуется программа MakeSign. Если на Вашем ПК она еще не установлена нажмите
            <a download href="/files/MakeSign.7z"><span class="glyphicon glyphicon-share-alt"></span> Архив MakeSign</a>
            <br>
            Разархивируйте его с помощью 7z
            <br>
            <img src="/gif/32LBdqfXVe.gif" width="872" height="280" />
            <br>
            3.1. Откройте папку и запустите run.exe
            <br>
            <img src="/gif/TN4pHeIrjw.gif" width="872" height="280" />
            <br>
            3.2. Нажмите "Сделать подпись" и попросите заявителя расписаться на планшете, после чего нажмите "ОК"
            <br>
            <img src="/gif/sG5CECm4kW.gif" width="872" height="562" />
            <br>
            3.3. Нажмите "Сохранить", запомните куда Вы сохраняете файл и введите имя файла как "ФамилиюИмяОтчествоДата рождения" заявителя.
            <br>
            <img src="/gif/HwuPvprpxy.gif" width="878" height="403" />
            <br>
        </div>
    </div>
</div>