<div *ngIf="isLoggedIn()">Добро пожаловать, {{userid?.fullName}}!<br></div>
<ul>
    <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signup']"><span class="glyphicon glyphicon-flash"></span> Регистрация</a></li>
    <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signin']"><span class="glyphicon glyphicon-log-in"></span> Вход в систему</a></li>
    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']"><span class="glyphicon glyphicon-log-out"></span> Выход из системы</a></li>
</ul>
<router-outlet></router-outlet>