    <div class="container">
        <div class="row">
            <portal-header></portal-header>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="isLoggedIn()">
        <div class="row">
            <div class="jumbotron">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <portal-footer></portal-footer>
        </div>
    </div>